* {
  box-sizing: border-box;
}

.currencies-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 95%;
  margin: 0 auto;
}

.currency-data {
  width: 50%;
}

.currency-data > a {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.currency-data > a > h3 {
  text-transform: uppercase;
}

.currency-data > a > p {
  text-align: center;
}
