* {
  box-sizing: border-box;
}

.currencies-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 95%;
  margin: 0 auto;
}

.currency-data {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currency-data > h3 {
  text-transform: uppercase;
}

.currency-data > p {
  text-align: center;
}